@font-face {
    font-family: 'icons';
    src:    url('fonts/icons.eot?76bgzz');
    src:    url('fonts/icons.eot?76bgzz#iefix') format('embedded-opentype'),
        url('fonts/icons.ttf?76bgzz') format('truetype'),
        url('fonts/icons.woff?76bgzz') format('woff'),
        url('fonts/icons.svg?76bgzz#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="em-"], [class*=" em-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.em-info:before {
    content: "\e901";
}
.em-chevron-thin-down:before {
    content: "\e900";
}

